{{#if est}}

<a href="/adm/adm" class="btn btn-success">
  Volver
</a>

<a href="/adm/addest" class="btn btn-success">
  Agregar estudiante
</a>

<table class="table table-bordered table-hover bg-success mt-5">
  <div class="text-center">
    <h1>Estudiantes</h1>
  </div>
  <thead>
    <tr>
      <th><strong>Nombre</strong></th>
      <th><strong>Apellido</strong></th>
      <th><strong>Telefono</strong></th>
      <th><strong>Correo</strong></th>
      <th><Strong>Direccion</Strong></th>
      <th><Strong>Centro</Strong></th>
       <th><Strong>Grado</Strong></th>
      <th><strong>Opciones</strong></th>

    </tr>
  </thead>
  <tbody>
    {{#each est}}
    <tr>
      <td>{{NombreEstudiante}}</td>
      <td>{{ApellidoEstudiante}}</td>
      <td>{{TelefonoEstudiante}}</td>
      <td>{{CorreoEstudiante}}</td>
      <td>{{DireccionEstudiante}}</td>
      <td>{{centro}}</td>
       <td>{{grado}}</td>

      <td>
        <a href="/adm/editEst/{{_id}}" class="btn btn-info mb-1">
          Editar
        </a>

        <form action="/estudiante/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger mb-1">Eliminar</button>
        </form>

      </td>
      {{/each}}
  </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>No Hay Estudiantes Ingresados Aun</h1>
    <img src="" class="w-75" />
    <a href="/adm/addest" class="btn btn-success">
      Agregar estudiante
    </a>
  </div>

</div>
{{/if}}