{{#if centros}}
<a href="/adm/adm" class="btn btn-success">
  Volver
</a>

<a href="/adm/add" class="btn btn-success">
  Agregar centro
</a>

<table class="table table-bordered table-hover bg-success mt-5">
  <div class="text-center">
    <h1>Centros</h1>
  </div>
  <thead>
    <tr>
      <th><strong>Nombre</strong></th>
      <th><strong>Direccion</strong></th>


    </tr>
  </thead>
  <tbody>
    {{#each centros}}
    <tr>
      <td><strong>{{NombreCentro}}</strong></td>
      <td><strong>{{DireccionCentro}}</strong></td>


      <td>
        <a href="/adm/edit/{{_id}}" class="btn btn-info mb-1">
          Editar
        </a>
        <form action="/centros/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger mb-1">Eliminar</button>
        </form>

      </td>
    </tr>
    {{/each}}
  </tbody>

</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>No Hay Centros Registrados</h1>
    <img src="/img/centros.png" class="w-75" />
    <a href="/adm/add" class="btn btn-success">
      Agregar centro
    </a>
  </div>

</div>
{{/if}}