<div class="d-flex">
  <div id="sidebar-container" class="hola">
    <div class="logo text-dark fw-bold  font-italic ">
      <strong> Estudiante</strong>
    </div>

    <div class="menu lead">
      <a href="/est/estviews" class="d-block p-3 text-dark fw-bold "><i class="fa-solid fa-house"></i>
        Inicio</a>
      <a href="/" class="d-block p-3 text-dark fw-bold"><i class="fa-solid fa-arrow-down-a-z"></i></i>
        Calificaciones</a>

    </div>
  </div>
  <div class="w-100">

    <!-- Contenido principal-->
    <div id="contenido" class="pt-3 px-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h4 class="text-dark display-6"><Strong>Bienvenido de nuevo {{NombreEstudiante}}</Strong></h4>
          </div>
        </div>

        <!-- Cards -->
        <div class="row ">
          <!-- Card 1-->
         
          <div class="card border-success mb-3 " style="max-width: 25rem;">
            <div class="card-header bg-transparent border-success text-center display-6">Datos Personales<i class="fa-solid fa-graduation-cap"></i></div>
            <div class="card-body font-italic ">
              <p><strong class="mr-2">Nombre:</strong>{{NombreEstudiante}}</p>
                    <p><strong class="mr-2">Apellido:</strong>{{ApellidoEstudiante}}</p>
                    <p><strong class="mr-2">Apellido:</strong>{{ApellidoEstudiante}}</p>
                    <p><strong class="mr-2">Telefono:</strong>{{TelefonoEstudiante}}</p>
                    <p><strong class="mr-2">Correo:</strong>{{CorreoEstudiante}}</p>
                    <p><strong class="mr-2">Direccion:</strong>{{DireccionEstudiante}}</p>
                    <p><strong class="mr-2">Centro:</strong>{{centro}}</p>
            </div>
            <div class="card-footer bg-transparent border-success">Estudiante</div>
          </div>
            
             <!-- Card 2-->
                    <div class="col-md-4">
                       <!-- Grado -->
                      <div class="card text-bg-warning">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-6">
                              <i class="fa-solid fa-arrow-down-wide-short"></i>
                              <h5 class="card-title fw-bold ">
                                Grado
                              </h5>
                            </div>
                            <div class="col-4">
                              <h2 class="fw-bold text-center display-5">8 </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                         <!-- Seccion-->
                      <div class="card text-dark bg-success mt-2">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-6">
                              <i class="fa-solid fa-door-closed"></i>
                              <h5 class="card-title fw-bold ">
                                 Seccion
                              </h5>
                            </div>
                            <div class="col-4">
                              <h2 class="fw-bold text-center display-5">8 </h2>
                            </div>
                          </div>
                        </div>
                      </div>

                        <!-- Materias-->
                      <div class="card text-dark bg-danger mt-2">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-6">
                             <i class="fa-solid fa-book"></i>
                              <h5 class="card-title fw-bold ">
                                 Materias
                              </h5>
                            </div>
                            <div class="col-4">
                              <h2 class="fw-bold text-center display-5">10 </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

        </div>

        <div class="row mt-2">
          <div class="col-12">
            <h4 class="text-dark display-6">Calificaciones</h4>
          </div>
        </div>

        <!-- Botonera Accesos Rapidos -->


      </div>
    </div>

  </div>
</div>